@use '../utils/variables' as variables; 
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: variables.$font-family-base;
  color: variables.$text-color;
  background-color: variables.$bg-light;
  line-height: 1.6;
}
a {
  color: variables.$primary-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: variables.$secondary-color;
  }
}
